.faq-container {
  margin: 150px auto 100px;
  width: 70%;

  .faq-title {
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 20px;
  }
}
