.hero {
  width: 100%;
  height: 100vh;
  position: relative;

  .bitcoin-token1 {
    position: absolute;
    width: 18px;
    height: 18px;
    object-fit: contain;
    top: 160px;
    left: 250px;
  }

  .binance-token {
    position: absolute;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top: 220px;
    right: 230px;
  }

  .solana-token {
    position: absolute;
    width: 20px;
    height: 20px;
    object-fit: contain;
    bottom: 100px;
    left: 340px;
  }

  .bitcoin-token2 {
    position: absolute;
    width: 18px;
    height: 18px;
    object-fit: contain;
    bottom: 60px;
    right: 400px;
  }
}
