.marketing-container {
  width: 90%;
  margin: 0 auto;

  .marketing-grid {
    display: grid;
    grid-template-areas: "text image";
    place-items: center;
    margin: 100px 0 150px;

    &.reverse {
      grid-template-areas: "image text";
    }

    .marketing-text-cont {
      width: 500px;
      grid-area: text;

      .marketing-title {
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: capitalize;
        color: #fff;
        margin: 0 0 20px;
      }

      .marketing-quote {
        font-size: 14px;
        margin: 0;
      }

      .marketing-text {
        font-size: 14px;
        line-height: 2;
        color: #e6e6e6;
        margin: 0;
      }
    }
    .marketing-image-cont {
      grid-area: "image";
      width: 500px;
      height: 297px;
      border-radius: 10px;
      overflow: hidden;

      .marketing-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
