.dev-container {
  width: 90%;
  margin: 0 auto;

  .dev-header-container {
    width: 90%;
    margin: 50px auto;
    text-align: center;

    .dev-header {
      font-size: 2.2rem;
      font-weight: 700;
      text-transform: capitalize;
      background: linear-gradient(to bottom, #b0186a 0%, #2f1798 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      margin: 0 0 10px;
    }

    .dev-quote {
      font-size: 14px;
      margin: 0;
    }

    .dev-header-text {
      font-size: 14px;
      line-height: 2;
      color: #e6e6e6;
      margin: 0;
    }
  }

  .dev-grid {
    display: grid;
    grid-template-areas: "text image";
    place-items: center;
    margin: 100px 0 150px;

    &.reverse {
      grid-template-areas: "image text";
    }

    .dev-text-cont {
      width: 500px;
      grid-area: text;

      .dev-title {
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: capitalize;
        color: #fff;
        margin: 0 0 20px;
      }

      .dev-text {
        font-size: 14px;
        line-height: 2;
        color: #e6e6e6;
        margin: 0;
      }
    }
    .dev-image-cont {
      grid-area: "image";
      width: 500px;
      height: 297px;
      border-radius: 10px;
      overflow: hidden;

      .dev-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
