.marquee {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;

  p {
    margin: 12px 0;
    padding: 0 10px;
    white-space: nowrap;
    font-size: 20px;
    background: linear-gradient(
      to right,
      #e1a742cb 0%,
      #d78f55ce 30%,
      #d07c63db 53%,
      #c66478b2 60%,
      #8a097be2 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
