.work-container {
  width: 90%;
  margin: 150px auto 100px;
  display: grid;
  grid-template-columns: 60% 40%;

  .work-text-cont {
    width: 90%;

    .work-header {
      font-size: 2.2rem;
      font-weight: 600;
      text-transform: capitalize;
      color: #fff;
      margin: 0 0 20px;
    }

    .work-text {
      font-size: 14px;
      line-height: 1.7;
      color: #e6e6e6;
      margin: 0 0 20px;
    }

    .contact-btn {
      text-align: center;
      text-transform: capitalize;
      font-size: 14px;
      border: none;
      border-radius: 6px;
      outline: none;
      padding: 12px 40px;
      margin: 20px 0 0;
      // background: transparent;
      background: #041023;
      //   background-image: linear-gradient(to bottom, #b0186a 0%, #1351b1 100%);
      color: #fff;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        // filter: blur(3px);
        border-radius: inherit;
        background: linear-gradient(to bottom, #b01869a1 0%, #1352b1af 100%);
        z-index: -1;
        margin: -1px;
      }
    }
  }

  .work-image-cont {
    width: 100%;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;

    .work-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
